@import "tailwindcss";

@theme {
  --color-foreground: #444444;
  --color-bgDefault: #6c5147;
  --color-bgCard: #4a342d;
  --color-bgButton: #f3bb3f;
  --color-primary: #ffd400;
  --color-secondary: #fff9d9;
  --color-borderStrong: #3c2821;
  --color-borderWeak: #815230;
}

* {
  /* next/font/google provides the actual loaded font via this CSS variable */
  font-family: var(--font-playpen-sans), sans-serif;
}

body {
  background: #171717;
}
